<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grossini_dance_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{85,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{170,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{255,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{340,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{425,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{510,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{595,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{680,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{765,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{850,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{935,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{1020,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grossini_dance_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,121}</string>
                <key>spriteSourceSize</key>
                <string>{85,121}</string>
                <key>textureRect</key>
                <string>{{1105,0},{85,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gros.png</string>
            <key>size</key>
            <string>{1190,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7384685ad684977468c1421051ee68d:199d4c48ad68cabeb4251c3c20bc351c:750d8d86e80e0cf72b9e54c2c5d36982$</string>
            <key>textureFileName</key>
            <string>gros.png</string>
        </dict>
    </dict>
</plist>
